.searchWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.search {
  padding-bottom: 15px;
  width: 40%;
}

.searchTerm {
  padding: 5px;
  width: 100%;
  border: 3px solid $purple;
  border-radius: $border-radius;
  outline: none;
}

.searchTerm:focus {
  color: $purple;
}
