<Page::Header @title="Dashboard" />
<Page::Content>
  <div class="d-flex flex-row justify-content-between">
    <div class="at-a-glance card m-3 w-50 h-100">
      <div class="card-body">
        <h5 class="card-title">
          At a Glance
        </h5>
        <div class="d-flex flex-row justify-content-around">
          <div>
            <h3>
              {{this.model.length}}
            </h3>
            <p class=" text-muted">
              Customers in pipeline
            </p>
          </div>
          <div>
            <h3>
              {{currency this.totalBudget}}
            </h3>
            <p class="text-muted">
              Total forecasted budget
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="top-prospects card m-3 w-50">
      <div class="card-body">
        <h5 class="card-title">
          Top Prospects
        </h5>
        <div>
          <DashboardTable @model={{this.topFiveProspects}} />
          <div class="mt-3">
            <LinkTo @route="customers">
              View all
            </LinkTo>
          </div>
        </div>
      </div>
    </div>
  </div>
</Page::Content>